.cls-contact
{
   
   background-color: #5268a6 !important;
}
.header-contact
{
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
}